<h1>Dummy-App</h1>

<nav>
  <button (click)="gotoParentA()">PARENT A</button>
  <button (click)="gotoParentB()">PARENT B</button>
</nav>

<div>
  <button (click)="moveChildToParentA()">INPUT -> PARENT A</button>
  <button (click)="moveChildToParentB()">INPUT -> PARENT B</button>
</div>

<div>
  <button (click)="moveChildDown()">INPUT -> BOTTOM</button>
  <button (click)="moveChildUp()">INPUT -> TOP</button>
</div>
<router-outlet></router-outlet>


<div #containerA></div>

<hr>

<div #containerB></div>